body {
  background: #C2CBCC;
}

.App .Dictionary {
  padding: 12px;
  margin-top: 16px;
}

.App .App-footer {
  text-align: center;
  font-size: 0.9rem;
  margin: 12px 0;
}

.Dictionary .Dictionary-word {
  border-radius: 18px;
  border: 1px solid black;
  padding: 6px 6px 6px 12px;

}

.Dictionary .Dictionary-search {
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 4px;
  padding: 6px;
  margin-bottom: -8px;
  transition: 150ms;
}

.Dictionary .Dictionary-search:hover {
  background-color: rgb(106, 106, 172);
}


.Dictionary .search-button {
  border: none;
  background-color: #C2CBCC;
}