.Meaning h4 {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bold;
}

.Meaning section {
    font-weight: 600;
    font-size: 0.79rem;
    padding: 6px;
    margin-bottom: 8px;
}

.Meaning .example {
    opacity: 0.8;
    line-height: 1;
}